<div class="account-page">
  <h3><%= @user.first_name %>, here are your current orders:</h3>

  <% @user.orders.each do |order| %>

  <div class="order-table">
    <table>
      <div class="order-header">
          <h6>Order ID: <%= order.order_id %></h6>
          <h6>Purchase Date: <%= local_time( order.created_at, "%m/%d/%Y at %l:%M%p") %></h6>
          <h6>Order Total: $<%= order.total.round(2) %></h6>
      </div>

      <tr class="order-header-titles">
        <th class="item">Product</th>
        <th class="item middle">License</th>
        <th class="item">Active?</th>
      </tr>

      <% order.line_items.each do |line_item| %>

      <tr>
        <td class="item"><%= line_item.product.title %></td>
        <td class="item middle"><%= line_item.fulfillment %></td>
        <td class="item"><%= line_item.active? %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <% end %>

</div>